<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Quiz Bot</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <style>
        [v-cloak] {
            display: none;
        }

        input {
            margin-right: 10px;
        }

        #root {
            margin: 20px;
        }

        #question-form {
            margin-bottom: 30px;
        }

        #question-form .caption, #question-form .answers {
            margin-bottom: 10px;
        }

        #question-form .answers:first-child input {
            border: 4px solid black;
        }

        #question-list .answers span {
            margin-right: 15px;
        }

        #questions-list .question-item {
            padding: 0 10px;
            border-bottom: 1px solid black;
        }

        #questions-list .question-item a {
            margin-right: 10px;
        }

    </style>
</head>
<body>
    <div id="root">
        <div id="question-form">
            <h6 v-if="question._id">{{ question.caption }}</h6>
            <h6 v-else>New question</h6>
            <div class="caption">
                <input type="text" v-model="question.caption" placeholder="Question" />
                <select v-model="question.locale" v-cloak>
                    <option v-for="locale, code in locales" :value="code">
                        {{ locale }}
                    </option>
                </select>
            </div>
            <div class="answers">
                <input type="text" v-for="answer, index in question.answers" v-model="question.answers[index]" />
            </div>
            <div>
                <button @click="clear">Clear</button>
                <button @click="save">Save</button>
            </div>
        </div>

        <div id="questions-list" v-cloak>
            <div class="question-item" v-for="question, index in questions">
                <div class="caption">
                    ({{ question.locale }}) <a href="#" @click="edit(question)">{{ question.caption }}</a> <a href="#" @click="remove(question)">[Удалить]</a>
                </div>
                <div class="answers">
                    <span v-for="answer, key in questions[index].answers">
                        {{ key + 1 }}. {{ answer }}
                    </span>
                </div>
            </div>
        </div>
    </div>
</body>

<script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script>

<script>
    const DEFAULT_LOCALE = 'en';

    let app = new Vue({
        el: '#root',
        data: {
            question: {
                _id: 0,
                caption: '',
                answers: ['', '', '', ''],
                locale: DEFAULT_LOCALE
            },
            questions: [],
            locales: {
                'en': 'English',
                'ru': 'Russian'
            },
            errors: {

            }
        },
        created() {
            fetch('/questions', {
                method: 'get',
                headers: {
                    'content-type': 'application/json'
                }
            })
            .then(function(res){ return res.json(); })
            .then(res => {
                if (res.success) {
                    this.questions = res.questions;
                }
            });
        },
        methods: {
            clear() {
                this.question._id = 0;
                this.question.caption = '';
                this.question.answers = this.question.answers.map(answer => '');
                this.question.locale = DEFAULT_LOCALE;
            },
            save() {
                if (this.question.caption.trim() === '' || this.question.answers.some(answer => answer.trim() === '')) {
                    return false;
                }

                let newQuestion = Object.assign({}, this.question);

                fetch('/save', {
                    method: 'post',
                    body: JSON.stringify(this.question),
                    headers: {
                        'content-type': 'application/json'
                    }
                })
                .then(function(res){ return res.json(); })
                .then(res => {
                    if (res.success) {
                        this.clear();
                        this.questions.unshift(newQuestion);
                    }
                });
            },
            edit(question) {
                this.question = Object.assign({}, question);
            },
            remove(question) {
                fetch('/remove', {
                    method: 'post',
                    body: JSON.stringify({_id: question._id}),
                    headers: {
                        'content-type': 'application/json'
                    }
                })
                .then(function(res){ return res.json(); })
                .then(res => {
                    if (res.success) {
                        this.questions.splice(this.questions.indexOf(question), 1);
                    }
                });
            }
        }
    });
</script>

</html>